

.navbar-nav .nav-link {
    color: #fff; 
    overflow: hidden;

}

.navbar-nav .nav-link:hover {
    color: #fff; 
    background-color: rgba(255, 255, 255, 0.1);
}

.mainnavbar{
    max-width: 1300px;
}

.navbar-brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.navbar-brand img {
    height: 40px;
    width: 80px; 
    
    margin-bottom: 0 px;
}
