.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #4f7182;
    padding-top: 20px;
    background-image: linear-gradient(to bottom right ,#ffcccc,#ffc299);
}

.profile-section {
    text-align: center;
}

.profile-container {
    margin-left: 250px;
   
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    min-height: 100vh;
}

.nav-link {
    color: #333;
    font-size: 16px;
    padding: 10px;
    text-align: left;
    display: flex;
    align-items: center;
}

.nav-link:hover {
    background-color: #e9ecef;
    color: #007bff;
}

.logout-section {
    text-align: center;
}
